@import "~bulma/sass/utilities/initial-variables";

// Colors
$blue: #358eac;
$dark-grey: #555555;
$medium-grey: #8C8C8C;
$light-grey: #E5E5E5;

// Derived variables
$primary: $blue;

//dark blue palette
/* $dark-blue: #16222A;*/
$mid-blue: #3A6073;

//light blue theme
/* $dark-blue: #3A6073; */
$light-blue: #0cebeb;

/* $night-blue: #010C10; */
/* $mid-blue: #074E66; */
$lighter-blue: #A4D9EB;

$night-blue: #141E30;
$dark-blue: #243B55;